<%- include("../includes/markup.ejs") %>

<div class="home-container">
  <div class="navbar">
    <div class="menu">
      <h3 class="logo">
        <span> &Tfr;</span>
        <div>ASKMATE</div>
      </h3>
      <div class="hamburger-menu">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="main">
      <header>
        <div class="overlay">
          <p class="description">
            “All our dreams can come true, if we have the courage to pursue
            them.”
          </p>
          <div class="title">
            <p class="author">- Walt Disney</p>
            <i class="fa-solid fa-arrows-rotate ref-btn"></i>
          </div>
          <a href="/task" class="btn">Your First Task </a>
        </div>
      </header>
    </div>
    <div class="shadow one"></div>
    <div class="shadow two"></div>
  </div>
  <div class="links">
    <ul>
      <li class="active">
        <a href="#" style="--i: 0.05s">Home</a>
      </li>
      <li>
        <a href="/task" style="--i: 0.1s">Dashboard</a>
      </li>
      <li>
        <a href="#" style="--i: 0.15s">SignUp</a>
      </li>
      <li>
        <a href="#" style="--i: 0.2s">Login</a>
      </li>
    </ul>
  </div>
</div>
<script>
  //  container and hamburger style

  const hamburger_menu = document.querySelector(".hamburger-menu");
  const container = document.querySelector(".home-container");
  const ref_btn = document.querySelector(".ref-btn");

  hamburger_menu.addEventListener("click", () => {
    container.classList.toggle("active");
  });

  // Random quote

  const quote_URL = "https://qapi.vercel.app/api/random";

  ref_btn.addEventListener("click", async () => {
    const p = document.querySelector(".description");
    const author = document.querySelector(".author");

    try {
      const response = await fetch(quote_URL, { mode: "cors" }); // Ensure CORS is handled
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      const data = await response.json();
      console.log(data);
      p.innerHTML = data.quote || "You are Enough ";
      author.innerHTML = `-${data.author}`;
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });
</script>
