<%- include("../includes/markup.ejs") %>

<div
  class="justify-content-center mt-50 position-absolute top-50 start-50 translate-middle"
>
  <h1 class="heading text-center">WELCOME TO THE TASKMATE</h1>
  <div class="alert alert-success w-60 h-40" role="alert">
    <p>
      Welcome to the Task Management Stystem App. Take control of your tasks
      with ease and efficiency. Whether it's organizing your daily to-do list,
      planning projects, or tracking deadlines, TaskMate is here to make your
      life simpler. Collaborate, prioritize, and accomplish more with a
      user-friendly interface designed to streamline your productivity journey.
    </p>
    <hr />
    <p class="mb-0">
      Let turn your goals into achievements, one task at a time!
    </p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
