<%- include("../includes/boilerplate.ejs") %>

<body class="body-2">
  <div class="container">
    <div class="text">Add New Task</div>
    <form method="post" action="/task">
      <div class="form-row">
        <div class="input-data">
          <input type="text" name="task" minlength="2" required />
          <div class="underline"></div>
          <label for=""> TASK</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data">
          <select name="category" required>
            <option value="Home">Home</option>
            <option value="Office">Office</option>
            <option value="Personal">Personal</option>
            <option value="Study">Study</option>
          </select>
          <div class="underline"></div>
          <label for="">CATEGORY</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data textarea">
          <textarea
            rows="4"
            cols="80"
            name="description"
            required
            minlength="5"
          ></textarea>
          <br />
          <div class="underline"></div>
          <label for="">Task Description</label>
          <br />
          <div class="submit-btn-row">
            <button class="submit-btn">SUBMIT</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
